<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span>Address</span> {{address.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Address Nick Name</span></dt>
                <dd>
                    <span>{{address.addressNickName}}</span>
                </dd>
                <dt><span>Address Line 1</span></dt>
                <dd>
                    <span>{{address.addressLine1}}</span>
                </dd>
                <dt><span>Address Line 2</span></dt>
                <dd>
                    <span>{{address.addressLine2}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{address.city}}</span>
                </dd>
                <dt><span>State</span></dt>
                <dd>
                    <span>{{address.state}}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <span>{{address.country}}</span>
                </dd>
                <dt><span>Postal Code</span></dt>
                <dd>
                    <span>{{address.postalCode}}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{address.startDate}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{address.endDate}}</span>
                </dd>
                <dt><span>App User</span></dt>
                <dd>
                    <div *ngIf="address.appUserId">
                        <a [routerLink]="['/app-user-ckw', address.appUserId, 'view']">{{address.appUserId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address-ckw', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
