<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rate-ckw-heading">Create or edit a Rate</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rate.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="rate.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rateName">Rate Name</label>
                    <input type="text" class="form-control" name="rateName" id="field_rateName"
                        [(ngModel)]="rate.rateName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rateDesc">Rate Desc</label>
                    <input type="text" class="form-control" name="rateDesc" id="field_rateDesc"
                        [(ngModel)]="rate.rateDesc" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fullRate">Full Rate</label>
                    <input type="number" class="form-control" name="fullRate" id="field_fullRate"
                        [(ngModel)]="rate.fullRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idleRate">Idle Rate</label>
                    <input type="number" class="form-control" name="idleRate" id="field_idleRate"
                        [(ngModel)]="rate.idleRate" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
