<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rate">
            <h2><span>Rate</span> {{rate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Rate Name</span></dt>
                <dd>
                    <span>{{rate.rateName}}</span>
                </dd>
                <dt><span>Rate Desc</span></dt>
                <dd>
                    <span>{{rate.rateDesc}}</span>
                </dd>
                <dt><span>Full Rate</span></dt>
                <dd>
                    <span>{{rate.fullRate}}</span>
                </dd>
                <dt><span>Idle Rate</span></dt>
                <dd>
                    <span>{{rate.idleRate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rate-ckw', rate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
