<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contractor">
            <h2><span>Contractor</span> {{contractor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{contractor.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{contractor.lastName}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{contractor.email}}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{contractor.phoneNumber}}</span>
                </dd>
                <dt><span>Hire Date</span></dt>
                <dd>
                    <span>{{contractor.hireDate}}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{contractor.startDate}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{contractor.endDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contractor-ckw', contractor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
